@model List<ProductCatelogMVCWebApp.Models.Entities.Product>

<h1>Products List (@Model.Count)</h1>
<hr />


<a class="btn btn-primary mb-3" href="/Products/Create">Create New Product</a>

<form action="/Products/Index" method="post">

    <input type="text" name="txtSearch" placeholder="Enter category to search"  />
    <input type="submit" name="btnSearch" value="Search" />

</form>


<hr />


@*<ul>
    @foreach (var item in Model)
    {
        <li>@item.ProductName</li>
    }

</ul>*@



<table class="table border table-hover">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Is Available</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.IsAvailable</td>
            <td>@item.Category</td>
            <td>
                <a class="btn btn-danger" href="/Products/Delete/@item.ProductID">Delete</a> |
                <a class="btn btn-warning" href="/Products/Edit/@item.ProductID">Edit</a>
            </td>

        </tr>
    }
</table>
